@import 'colors';
@import 'number';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: $grid-column-gap;
    grid-row-gap: $grid-row-gap;
    height: 100%;
    width: 100%;
    position: $position;
        
    .div1 { grid-area: 1 / 1 / 2 / 5; };
    .div2 { grid-area: 6 / 1 / 7 / 5; };
    .div3 { grid-area: 2 / 1 / 6 / 3; };
    .div4 { grid-area: 4 / 3 / 6 / 5; };
    .div5 { grid-area: 2 / 3 / 4 / 5; };

.div1, .div2, .div3, .div4, .div5 {
    
    border: 1px solid #000;
};

    .div1 {
        background-color: $colorOne;
    };

    .div2 {
        background-color: $colorTwo;
    };

    .div3 {
        background-color: $colorThree;
    };

    .div4 {
        background-color: $colorFour;
    };

    .div5 {
        background-color: $colorFive;
    };

}
