* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100%;
    width: 100%;
    position: absolute;

}
    
    .div1 { grid-area: 1 / 1 / 2 / 5; }
    .div2 { grid-area: 6 / 1 / 7 / 5; }
    .div3 { grid-area: 2 / 1 / 6 / 3; }
    .div4 { grid-area: 4 / 3 / 6 / 5; }
    .div5 { grid-area: 2 / 3 / 4 / 5; }

.div1, .div2, .div3, .div4, .div5 {
    
    border: 1px solid #000;
}

    .div1 {
        background-color: rgb(255, 255, 255);
    }

    .div2 {
        background-color: rgb(151, 112, 112);
    }

    .div3 {
        background-color: rgb(63, 26, 26);
    }

    .div4 {
        background-color: rgb(32, 161, 163);
    }

    .div5 {
        background-color: rgb(48, 4, 109);
    }