* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    }
    
    .div1 { grid-area: 1 / 1 / 7 / 2; background-color: rgb(59, 43, 25); }
    .div2 { grid-area: 1 / 4 / 7 / 5; background-color: rgb(245, 229, 210); }
    .div3 { grid-area: 1 / 2 / 3 / 4; background-color: rgb(39, 63, 84); }
    .div4 { grid-area: 3 / 2 / 4 / 4; background-color: rgb(13, 33, 33);}
    .div5 { grid-area: 4 / 2 / 5 / 4; background-color: red;}
    .div6 { grid-area: 5 / 2 / 6 / 4; background-color: yellow;}
    .div7 { grid-area: 6 / 2 / 7 / 4; background-color: blueviolet;}

